---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.author-me {
  text-decoration: underline;
  text-underline-offset: 2px;      
  text-decoration-thickness: 1.5px; 
}

.post article .clearfix p {
  // text-align: justify !important;
  // text-justify: inter-word;
  // hyphens: auto;

  font-size: 0.9rem;   
  line-height: 1.5;    
}

@media (max-width: 768px) {
  body .post article .clearfix p {
    text-align: left !important;
    hyphens: none;
  }
}

.post article .profile .more-info {
  font-family: var(--global-font-family) !important;
  font-size: 1rem !important;
}


